body, html {
    height: 100%;
    margin: 0;
    background-color: #f7f8fa;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: HelveticaNeueCyr, sans-serif;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 36px;
    color: #0073aa;
}

p {
    font-size: 14px;
    color: #606060;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0073aa;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
